.card {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-box-card {
    height: 150px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info-card {
    padding: 20px;
    flex-grow: 1; 
}

.title-card {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

.description-card {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.details-link {
    align-self: center; 
    margin-top: auto; 
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.details-link:hover {
    background-color: #0aa787;
}